<div class="container-fluid">
  <div class="row">
  <div class="col-md-4 col-md-offset-4">
  <h2><%= @entertainer.entertainer_name %></h2>

<%=  simple_form_for [@entertainer, @booking], url: entertainer_bookings_path(@entertainer) do |f| %>
<%= f.input :title %>
<%= f.input :description %>
<%= f.input :start_datetime, as: "string" %>
<%= f.input :end_datetime, as: "string" %>
<%= f.input :address_street %>
<%= f.input :address_num %>
<%= f.input :address_city %>
<%= f.input :address_zip%>
<%= f.submit %>

<% end %>
