
<div class="navbar-main">
  <div class="logo">
    <%= link_to "Welcome to Airtertain","index.html"%></li>
  </div>

  <div class="navbar-right">
    <ul class="list-inline">
      <li><%= link_to "Home","acceuil.html"%></li>
      <li><%= link_to "Search an artist","Contact.html"%></li>
      <li><%= link_to "About us","Approach.html"%></li>
      <li><%= link_to "Sign in","Aboutme.html"%></li>
    </ul>
  </div>
</div>
